<?xml version="1.0" ?>
<robot name="hydra_positioner" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find hydra_description)/urdf/positioner/positioner_macro.xacro"/>
  <xacro:positioner_macro prefix="$(arg prefix)"/>

  <link name="world" />
  <joint name="world-$(arg prefix)hydra_positioner" type="fixed">
    <parent link="world"/>
    <child link="$(arg prefix)positioner_stand_base"/>
  </joint>
</robot>