<?xml version="1.0"?>
<launch>
  <!-- By default, we do not load the robot description -->
  <arg name="model" default="hydra.xacro"/>
  <arg name="rvizconfig" default="$(find hydra_bringup)/rviz/hydra.rviz"/>
  <arg name="load_robot_description" default="true"/>

  <!-- The list of the joint_states topics of all combined robots to fuse to a complete topic -->
  <arg name="joint_states_source_list" default="[rob1/joint_states, 
                                                 rob2/joint_states, 
                                                 rob3/joint_states]"/>

  <!-- Load robot description -->
  <param if="$(arg load_robot_description)" name="robot_description" 
         command="xacro $(find hydra_description)/urdf/$(arg model)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
    <rosparam param="source_list"  subst_value="true">$(arg joint_states_source_list)</rosparam>
    <param name="rate" value="50"/>
  </node>

  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" output="screen"/>

</launch>
