<launch>

  <!-- By default, we do not load the robot description -->
  <arg name="load_robot_description" default="true" />

  <!-- Load example URDF -->
  <param if="$(arg load_robot_description)" name="robot_description" command="$(find xacro)/xacro '$(find hydra_description)/urdf/hydra.xacro'" />
    
  <!-- Show in Rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hydra_bringup)/launch/hydra.rviz" />

</launch>
