<launch>

  <!-- load hydra controllers -->
  <include file="$(find hydra_control)/launch/hydra_sim_control.launch" />

  <!-- load moveit move_group -->
  <include file="$(find hydra_moveit_config)/launch/move_group.launch">
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>

  <!-- Show in Rviz -->
  <include file="$(find hydra_bringup)/launch/hydra_visualize.launch" >
    <arg name="load_robot_description" value="false" />
  </include>

</launch>
