<?xml version="1.0"?>
<launch>
  <arg name="model" default="positioner/positioner.xacro"/>
  <arg name="controller"  default="position_trajectory_controller" doc="Which controller should be started?"/>
  
  <group ns="positioner">
    <!-- Load positioner description -->
    <param name="robot_description" command="xacro $(find hydra_description)/urdf/$(arg model)"/>

    <!-- Launch hardware interface -->
    <include file="$(find hydra_hardware)/launch/positioner_hardware.launch"/>

    <!-- Launch controllers -->
    <rosparam file="$(find hydra_bringup)/config/positioner_controllers.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="controller_manager"
        respawn="false" output="screen" args="spawn joint_state_controller $(arg controller)"/>
  </group>
</launch>
