<?xml version="1.0"?>
<launch>
  <!-- Configuration -->
  <arg name="rviz"        default="true"  doc="Should RVIz be launched?"/>
  <arg name="pipeline"    default="ompl"  doc="Which planning pipeline should be used"/>

  <!-- Load robot description -->
  <param name="robot_description" command="xacro $(find hydra_description)/urdf/hydra.xacro"/>

  <!-- Launch the move group for motion planning -->
  <include file="$(find hydra_moveit_config)/launch/move_group.launch">
    <arg name="load_robot_description" value="false"/>
    <arg name="moveit_controller_manager" value="hydra"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
  </include>

  <!-- Robot ROS Topics and Rviz -->
  <group if="$(arg rviz)">
    <include file="$(find hydra_bringup)/launch/hydra_visualization.launch">
      <arg name="load_robot_description" value="false"/>
      <arg name="rvizconfig" value="$(find hydra_moveit_config)/launch/moveit.rviz"/>
    </include>
  </group>
</launch>
