<?xml version="1.0"?>
<launch>
  <!-- GDB functionality -->
  <arg name="debug" default="false"/>
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <!-- Load hardware interface -->
  <rosparam file="$(find hydra_hardware)/config/positioner_hardware.yaml" subst_value="true"/>
  <node name="sim_hw_interface" pkg="ros_control_boilerplate" type="sim_hw_main" 
        output="screen" launch-prefix="$(arg launch_prefix)">
  </node>

</launch>
