<?xml version="1.0" ?>
<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find hydra_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="robot_description" value="robot_description"/>
  </include>
  
  <!-- Load joint limits to override URDF -->
  <rosparam file="$(find hydra_moveit_config)/config/joint_limits.yaml" command="load"/>
  
  <!-- Load SIMULATION hardware interface -->
  <node name="medusa_hw_interface" pkg="moveit_sim_controller" respawn="false"
      type="moveit_sim_hw_main" output="screen" launch-prefix="$(arg launch_prefix)"/>
  
  <rosparam file="$(find hydra_control)/config/hydra_controllers.yaml" command="load" />
  
  <!-- Load controller manager -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="spawn joint_state_controller position_trajectory_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
    <rosparam param="source_list">[/joint_states] </rosparam>
    <param name="rate" value="30"/>
  </node>
</launch>
