<?xml version="1.0" ?>
<robot name="hydra_positioner" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find hydra_description)/urdf/positioner_macro.xacro"/>
  <xacro:positioner_macro prefix="$(arg prefix)"/>

  <!-- 'flange' frame: default pose reference frame -->
  <link name="world" />
  <joint name="world-$(arg prefix)hydra_positioner" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="world"/>
    <child link="$(arg prefix)rotary_table_base"/>
  </joint>
</robot>