<?xml version="1.0" ?>
<robot name="hydra" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:property name="radius" value="0.95" />
  <xacro:property name="tool" default="typhoon_extruder" />

  <xacro:include filename="$(find hydra_description)/urdf/hydra_macro.xacro"/>
  <xacro:hydra_macro prefix="$(arg prefix)" radius="${radius}" tool="${tool}"/>

  <link name="world"/>
  <joint name="world-$(arg prefix)hydra_base" type="fixed">
      <parent link="world"/>
      <child  link="$(arg prefix)hydra_base"/>
  </joint>
</robot>
