<?xml version="1.0" ?>
<robot name="za" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find za_description)/urdf/za_typhoon_macro.xacro"/>
  <xacro:robotiq_hand_e_macro prefix="$(arg prefix)"/>

  <!-- 'flange' frame: default pose reference frame -->
  <link name="flange" />
  <joint name="flange-$(arg prefix)typhoon_extruder" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <parent link="flange"/>
    <child link="$(arg prefix)typhoon_extruder"/>
  </joint>
</robot>