<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="za_typhoon_macro" params="prefix tool0_trans tool0_rot">

    <xacro:include filename="$(find za_description)/urdf/za_macro.xacro"/>
    <xacro:za_macro prefix="${prefix}" tool0_trans="${tool0_trans}" tool0_rot="${tool0_trans}" tool0_fixed="True"/>

    <!-- link list -->
    <link name="${prefix}typhoon_extruder_base">
        <visual>
        <geometry>
          <mesh filename="package://hydra_description/meshes/visual/typhoon_extruder.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://hydra_description/meshes/visual/typhoon_extruder.dae"/>
        </geometry>
        <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
      </collision>
    </link>
    <link name="${prefix}typhoon_extruder">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </link>

    <!-- attach extruder to tool0 -->
    <joint name="${prefix}extruder_attach_joint" type="fixed">
      <parent link="${prefix}tool0"/>
      <child link="${prefix}typhoon_extruder_base"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
    </joint>
    <joint name="${prefix}extruder_extruder_base" type="fixed">
      <parent link="${prefix}typhoon_extruder_base"/>
      <child link="${prefix}typhoon_extruder"/>
      <axis xyz="0 0 0"/>
      <origin rpy="0.0 ${pi/2} 0.0" xyz="0.159 0.0 0.08613"/>
    </joint>


  </xacro:macro>
</robot>
